body {
  margin: 0;
  display: block;
  place-items: normal;
  min-width: 0;
  min-height: 0;
  font-family: 'Nano Sans', sans-serif !important;
}

body .ant-row,
.ant-col {
  font-family: 'Nano Sans', sans-serif !important;
}